/* stylelint-disable at-rule-name-case */
/* stylelint-disable at-rule-name-space-after */
/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable comment-whitespace-inside */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable block-closing-brace-empty-line-before */

/*-------------------
      Video List
--------------------*/

.ui.sidebar {

  .ui.items > .item {
    .a1.tags {
      margin-top: 0.5em;
    }
  }

}

/*-------------------
      La Borda
--------------------*/

.a1.outter.grid > .column:first-child {
  width: 110vmin;
  height: 100vmin;
  background-color: @lightYellow;
  background-image: url("../images/backgrounds/borda-background-420x420.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 420px) {
  .a1.outter.grid > .column:first-child {
    background-image: url("../images/backgrounds/borda-background-889x889.jpg");
  }
}

@media only screen and (min-width: 1186px) {
  .a1.outter.grid > .column:first-child {
    background-image: url("../images/backgrounds/borda-background-1240x1240.jpg");
  }
}

@media only screen and (min-width: 2205px) {
  .a1.outter.grid > .column:first-child {
    background-image: url("../images/backgrounds/borda-background-1532x1532.jpg");
  }
}

@media only screen and (min-width: 2724px) {
  .a1.outter.grid > .column:first-child {
    background-image: url("../images/backgrounds/borda-background-1800x1800.jpg");
  }
}

.a1.inner.grid > .row {
  padding: 0;
}

.a1.inner.grid {

  .a1.cell {
    padding: 0;
    height: ~"calc(98vmin / 8)";
  }

  .a1.floor.cell,
  .a1.wall.cell,
  .a1.roof.cell {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .a1.floor.cell {
    background-color: rgba(16, 152, 173, 0.5); /* @oc-cyan-7 */

    &.plus {
      background-image: url("../images/tiles/plus_oc-gray-0-v1.png");
      &:hover {
        background-color: rgba(16, 152, 173, 0.7); /* @oc-cyan-7 */
      }
    }
    /*
    &.v1 {
      background-image: url("../images/tiles/01-600x600.png");
      &:hover {
        background-image: url("../images/tiles/video01-600x600.jpg");
      }
    }
    */
    &.v2 {
      background-image: url("../images/tiles/02-600x600.png");
      &:hover {
        background-image: url("../images/tiles/video02-600x600.jpg");
      }
    }

    &.v3 {
      background-image: url("../images/tiles/03-600x600.png");
      &:hover {
        background-image: url("../images/tiles/video03-600x600.jpg");
      }
    }

    &.v4 {
      background-image: url("../images/tiles/04-600x600.png");
      &:hover {
        background-image: url("../images/tiles/video04-600x600.jpg");
      }
    }
  }

}

/*-----------------------------
      Project Description
-----------------------------*/

.a1.outter.grid > .column:last-child {
  width: 100%;

  & footer {
    a {
      color: @linkHoverColor;

      &:hover,
      &:focus,
      &:active {
        color: @linkColor;
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .a1.outter.grid > .column:last-child {
    width: ~"calc(100% - 110vmin)";
    /* min-width: 50em; */
  }
}
