/* stylelint-disable at-rule-name-case */
/* stylelint-disable at-rule-name-space-after */
/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable comment-whitespace-inside */

/*--------------------
      Top Buttons
---------------------*/

.a1.nav-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color: @brandColor;
}

.a1.nav-btn i.icon {
  margin: 0;
}

.a1.nav-links {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 100;
}

@media only screen and (orientation: landscape) {
  .a1.nav-links {
    .ui.horizontal.list > .item:last-child {
      padding-left: 0.21428571em !important;
      padding-right: 0.21428571em;
      border-radius: 5px;
      background-color: rgba(255, 249, 219, 0.7);
    }
  }
}
